<{strip}>

<div class="top_description">
<table class="widthmax" summary="">
	<tr>
		<td class="nowrap">
			<input type="button" value="ブロックの幅を全て0にする" onClick='customizeCls["<{$id}>"].widthZero(); return false;'>
		</td>
	</tr>
</table>
<table class="widthmax" summary="">
	<tr>
		<td class="nowrap">
			<input type="button" value="幅固定＋センタリングする" onClick='customizeCls["<{$id}>"].widthFixCenter(); return false;'>
		</td>
	</tr>
</table>
</div>
<{include file="./customize_script.html"}>
<{/strip}>